:root{
    --guest : #00385D;
    --primary : #023373;
    --color1 : #011126;
    --color2 : #023E73;
    --color3 : #1AA3D9;
    --color4 : #4BD4F2;
    --color5 : #DD8400;
    --color6 : #8b5300;
    --hover : #002136;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

/* style class punya navbar */
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 10px;
    justify-content: space-between;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar nav img {
    margin-right: 42rem;
}

nav ul {
    white-space: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav a:hover {
    color: var(--hover);
}

nav ul li a.active {
    color: var(--hover); 
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(75, 212, 242, 0.7);
    padding: 15px;
}
    
.login {
    margin-top: 0.3rem;
    text-align: center;
}

.login button {
    background-color: var(--guest);
    padding: 7px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'poppins',  sans-serif;
    font-size: 16px;
}

.login button:hover {
    background-color: var(--hover); 
}

.login button a {
    text-decoration: none;
    color: #fff;
}

/* style class punya kontenmain */

.boxpesan{
    color: var(--guest);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    padding: 2rem 3rem 3rem 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);    
}

.boxpesan .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
.boxpesan .list a {
    color: var(--primary);
    padding: 20px;
}

.boxpesan .list :hover{
    color: var(--color5);
    font-size: larger;
}

.boxpesan .garis{
    background-color: rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 10px auto;
}

.boxpesan h2{
    text-align: center;
    white-space: nowrap;
    color: var(--guest);
    margin-bottom: 20px;
}

.boxpesan form {
    white-space: nowrap;
}

.form-group {
    border: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.tanggal {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    color: var(--primary);
}

.tanggal #swapButton{
    padding-top: 7px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.1); 
}

.tanggal #swapButton:hover{
    background-color: #e6e6e6;
}

.date-field {
    display: flex;
    flex-direction: column;
}

input, select {
    font-family: "poppins", sans-serif;
    padding: 10px;
    padding-right: 10rem;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
}

input[type="submit"] {
    background-color: var(--guest);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--hover);
}

.kontenmain img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.linear-bawah {
    position: absolute;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(transparent, white);
    top: 812px;
}

/* style class iklan */
.iklan{
    margin-top: 5rem;
    text-align: center;
}
.iklan .judulPromo{
    color: var(--color2);
}

.iklan .judulPromo span{
    font-size: larger;
    color: var(--color3);

}

.iklan .kalimat {
    text-align: start;
    margin: 50px;
    color: var(--color2);
}

.iklan .card{
    color: var(--color2);
    margin: 10px;
    text-align: start;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.iklan .card img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.iklan .card .card-content {
    margin: 5px;
    padding: 10px;
}

.iklan .card h2 {
    font-size: 18px;
    margin: 0;
}

.iklan .card p {
    color: var(--color5);
    font-size: 14px;
}

.iklan .card p span{
    font-size:medium ;
    color: var(--color3);
}

.iklan .card a {
    display: block;
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.iklan .card a:hover {
    background-color: #0056b3;
}

.iklan .bungkus{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 0;
    margin-bottom: 30px;
} 


