:root{
    --guest : #00385D;
    --primary : #023373;
    --color1 : #011126;
    --color2 : #023E73;
    --color3 : #1AA3D9;
    --color4 : #4BD4F2;
    --color5 : #DD8400;
    --color6 : #8b5300;
    --color7 :#72a8d8;
    --hover : #002136;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

/* style class punya navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 10px;
    width: 100%;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
  }
  
  .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav #logo {
    margin-right: auto;
  }
  
  .judul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;   
    margin-left: auto; 
  }

  .judul a{
    font-family: 'poppins', sans-serif;
    font-size: larger;
    color: var(--color1);
    margin: 2rem;
  }

  .judul a:hover{
    color: var(--color2);
    font-weight: 700;
  }
  
  .judul li {
    padding: 10px;
  }
  
  .login {
    margin-top: 0.3rem;
    text-align: center;
    margin-left: auto;
  }
  

.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(114, 168, 216, 0.8);
    padding: 15px;
    font-weight: 600;
}  

.login button {
    background-color: var(--guest);
    padding: 7px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'poppins',  sans-serif;
    font-size: 16px;
}

.login button:hover {
    background-color: var(--hover); 
}

.login button a {
    text-decoration: none;
    color: #fff;
}

/* style class punya kontenmain */

.boxpesan{
    color: var(--guest);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    padding: 2rem 3rem 3rem 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);    
}

.boxpesan .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
.boxpesan .list a {
    color: var(--primary);
    padding: 20px;
}

.boxpesan .list :hover{
    color: var(--color5);
    font-size: larger;
}

.boxpesan .garis{
    background-color: rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 10px auto;
}

.boxpesan h2{
    text-align: center;
    white-space: nowrap;
    color: var(--guest);
    margin-bottom: 20px;
}

.boxpesan form {
    white-space: nowrap;
}

.form-group {
    border: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.tanggal {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    color: var(--primary);
}

.tanggal #swapButton{
    padding-top: 7px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.1); 
}

.tanggal #swapButton:hover{
    background-color: #e6e6e6;
}

.date-field {
    display: flex;
    flex-direction: column;
}

input, select {
    font-family: "poppins", sans-serif;
    padding: 10px;
    padding-right: 10rem;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
}

input[type="submit"] {
    background-color: var(--guest);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--hover);
}

.kontenmain img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.linear-bawah {
    position: absolute;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(transparent, white);
    top: 812px;
}

/* style class promo */
.promo{
    margin-top: 5rem;
    text-align: center;
}

.promo .bungkus1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 0;
    margin-bottom: 30px;
} 


.promo .judulnya{
    color: var(--color2);
}

.promo .judulnya span{
    color: var(--color3);
    font-size: larger;
}

.promo .kata2{
    text-align: justify;
    margin: 50px;
    color: var(--color2);
}

.promo .card1{
    color: var(--color2);
    margin: 10px;
    text-align: start;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.promo .card1 img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.promo .card1 .card-content1{
    margin: 5px;
    padding: 10px;
}
.promo .card1 p {
    color: var(--color5);
    font-size: 14px;
}

.promo .card1 p span{
    font-size:medium ;
    color: var(--color3);
}


/* style class iklan */
.iklan{
    margin-top: 5rem;
    text-align: center;
}
.iklan .judulPromo{
    color: var(--color2);
}

.iklan .judulPromo span{
    font-size: larger;
    color: var(--color3);

}

.iklan .kalimat {
    text-align: start;
    margin: 50px;
    color: var(--color2);
}

.iklan .card{
    color: var(--color2);
    margin: 10px;
    text-align: start;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.iklan .card img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.iklan .card .card-content {
    margin: 5px;
    padding: 10px;
}

.iklan .card p {
    color: var(--color5);
    font-size: 14px;
}

.iklan .card p span{
    font-size:medium ;
    color: var(--color3);
}

.iklan .bungkus{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 0;
    margin-bottom: 30px;
} 

.palingbawah{
    padding-bottom: 0;
    padding: 3rem;
    box-shadow: 0 -4px 4px -2px rgba(0, 0, 0, 0.2);
}



.palingbawah .konten{
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

.palingbawah .konten .bawah{
    white-space: nowrap;
    margin-right: 10rem;
    margin-left: 1rem;
    padding-bottom: 0;
}

.palingbawah .konten .bawah .logo{
    align-items: center;
    white-space: nowrap;
}

.palingbawah .konten .bawah img{
    margin: 1rem;
    align-items: center;
}

.deep{
    box-shadow: 0 -4px 4px -2px rgba(0, 0, 0, 0.2);
}
.deep p{
    text-align: center;
    font-family:sans-serif;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
